body {
  font-family: "Poppins", sans-serif;
}

h1 img {
  width: 50px;
}

h3 {
  color: #202124;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}

#key-temperature {
  color: #202124;
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  vertical-align: top;
  font-family: "Poppins", sans-serif;
}

.app-frame {
  max-width: 530px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: 30px;
  padding: 10px;
}

.input-text {
  width: 79%;
}

.degrees {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.overview-1 img {
  position: relative;
  top: -4px;
}

.overview-2 {
  position: relative;
  padding: 6px;
  left: -22px;
}

.overview-3 {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
}

.time {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.last-update {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-description {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.open-source {
  font-size: 12px;
}

#icon {
  width: 50%;
  position: relative;
  top: -8px;
}
