body {
  font-family: "Poppins", sans-serif;
}

h1 img {
  width: 50px;
}

h3 {
  color: #202124;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}

#key-temperature {
  color: #202124;
  display: inline;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  position: relative;
  top: -8px;
  font-family: "Poppins", sans-serif;
}

.app-frame {
  max-width: 530px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: 30px;
  padding: 10px;
}

.input-text {
  width: 79%;
}

#degrees {
  position: relative;
  top: -30px;
  color: #202124;
  display: inline;
  font-size: 16px;
  line-height: 20px;
}

.overview-1 {
  padding: 0;
  position: relative;
  left: 10px;
}

.overview-2 {
  padding: 0 10px 0 10px;
  position: relative;
}

.overview-3 {
  padding: 0;
  text-align: right;
  margin-right: 0;
  padding-right: 27px;
}

.time {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.last-update {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-description {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.open-source {
  font-size: 12px;
}

.overview-1 .active {
  color: #667b91;
  cursor: default;
}

#icon {
  width: 40%;
  position: relative;
  top: -22px;
}

#fahrenheit-link {
  text-decoration: none;
}

#celcius-link {
  text-decoration: none;
}

.forecast {
  text-align: center;
}

.forecast-day {
  font-size: 13px;
  color: #202124;
}

.forecast-temps {
  font-size: 13px;
}

.forecast-temp-max {
  color: #202124;
}

.forecast-temp-min {
  color: #70757a;
}
